html {
  scroll-behavior: smooth;
}
body{    
    background-color: rgb(0, 0, 0);
    height: 100vh;
    margin:0%;
    font-family: monospace;
    background-image: url("../sp/res/3D\ Liquid\ Gradient\ Chrome\ Abstract\ Background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
/* Entire scrollbar */
::-webkit-scrollbar {

  width: 5px; /* Width of the scrollbar */
  background-color:transparent; /* Background of the scrollbar */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  transition: background-color 5s ease;
  background-color: #ffffff; /* Color of the thumb */
  border-radius: 6px; /* Rounded edges */

}

  /* Scrollbar track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background-color: #31153f; /* Track color */
  }

/* Hover effects for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {

  background-color: #8446ff; /* Darken the thumb on hover */


  cursor: pointer;
}

.video-container {
  margin-bottom: 10%;
   display: flex;
   align-items: center;
    justify-content: center;
    position: absoulute;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }

video{
  filter: brightness(0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; 
}
.box{
    padding: 20px;
    margin-bottom: 10%;
    margin-top: 10%;
    backdrop-filter: blur(20px);
    background:linear-gradient(#ffffff33, #333333c7);
    border-radius: 20px;
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
}       

h1{

    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 0%;
}
p{
    font-size: 12px;
    margin-top: 0%;
    text-align: center;
    color: #cfcfcf;
    margin-bottom:30px;
}
form{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.name{
    justify-content: center;
    display:flex;
    margin-bottom: 10px;
}
.email{
  justify-content: center;
  display:flex;
  margin-bottom: 10px;
}
.ph{
  justify-content: center;
  display:flex;
  margin-bottom: 10px;
}
svg{
  margin-top: 20px;
  margin-right: 10px;
}
.email input{
  background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0%;
    margin-right: 10px;
    margin-top: 5px;
    width: 350px;
    height: 40px;
    color: #cfcfcf;
    outline: none;
}
.name input{
  background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0%;
    margin-right: 10px;
    margin-top: 5px;
    width: 350px;
    height: 40px;
    color: #cfcfcf;
    outline: none;
}

.ph input{
  background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0%;
    margin-right: 10px;
    margin-top: 5px;
    width: 320px;
    height: 40px;
    color: #cfcfcf;
    outline: none;
}

.textarea-container {
  position: relative;
  margin-top: 5px;
  justify-content: center;
  display: flex;
}

textarea {
  border-radius: 5px;
  outline: none;
  color:white ;
  background-color: #3333332e;
  margin-left: 30px;

  height: 60px;
  resize: none; 
  font-size: 12px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 2%;
}
textarea:focus{
  outline:solid #d079ff;
}
#char-counter {
  position: absolute;
  font-size: 14px;
  color: #aaa;
  padding: 2px 5px;
  border-radius: 5px;
}
a{
  text-decoration: none;
  color: #9849ff;
}
label{
  color: #cfcfcf;
  margin-top: 19.5px;  
  padding-right: 2px;
  border-bottom: 1px solid white;
}
.message{
  font-size: 1rem;
}

p a{
  font-size:0.9rem;
  transition: font-size ease-out 0.1s;
}

p a:hover{
  font-size: 1rem;
}
button{
  margin-top: 0%;
  cursor: pointer;
    background-color: #a600ff;
    color: white;
    border:solid transparent;
    border-radius: 30px;
    width: 10%;
    height: 50px;
    transition: background-color 0.5s;
}
button:hover{
  background-color: #ac6dff;
}
.ending{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

footer {
  position:static;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid #333;
}

.footer-social a {

  transition: 0.5s;
  margin-right: 20px;
  color: #fff;
  font-size: 50px;
}


.footer-social a:hover {
  color: #a600ff;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  font-size: 12px;
}
.footer-bottom p{
  margin-top: 10px;
}
.to-top {
  width: 30%;
  background-color: #1a1a1a;
  color: #555;
  font-size: 14px;
  box-shadow: 12px 12px 10px rgba(0, 0, 0, 0), -10px -10px 30px rgba(255, 255, 255, 0); 
}

.to-top:hover {
  color: white;
  background-color: #1a1a1a;
  box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.479), -5px -7px 20px rgba(255, 255, 255, 0.078);
  transition: box-shadow 0.5s ease-in-out, color 0.5s ease;
}
.to-top::after{
  box-shadow: 12px 12px 10px rgba(0, 0, 0, 0), -10px -10px 30px rgba(255, 255, 255, 0);
}
.to-top:hover::after{
  transition: box-shadow 0.3s;
}


@media only screen and (min-width:320px) and (max-width:480px){
  body{
    font-size: 16px;
    height: 120vh;
  }
  .video-container{
    align-items:center;
  }
  .box{
    padding: 3%;
    width:80%;
    height: auto;
  }
  h1{
    font-size: 3rem;
  }
  p{
    margin-bottom:5%;
  }
  .message{
    font-size: 0.8rem;
    margin-bottom: 10%;
  }
  .message a{
    font-size: 0.7rem;
  }
  button{
    margin-left: 0%;
    width: 50%;
    background: #9849ff;
  }
  video source{
    content: url("res/Mobile.mp4") }
  .footer-social a {
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 2px;
    color: #fff;
    font-size: 30px;
  }
  
  .footer-social a:hover {
    color: #a600ff;
    font-size: 20px;
    transition: font-size 0.3s;
  }
  .to-top{
    font-size: 10px;
  }
  textarea{
    margin-bottom: 20px;
    margin-left: 10px;
    width:85%;
  }
  #char-counter{
    top:60px;
    left: 56vw;
  }
}


 /* @media only screen and (min-width:481px) and (max-width:768px) {
  .box{
    scale: 100%;
  }
  #char-counter{
    left: 76%;
    top : 50px;
  }
  textarea{
    margin-left: 4.5%;
    width: 87%;
  }
  button{
    width:70%;
  }
}  */


@media only screen and (min-width: 769px) and (max-width:1024px) {
  .video-container{
    height: 100vh;
  }
  .box{
    width: 44%;
    height: auto;

  }
  #char-counter {
    top:60px;
    left:74%;
    font-size: 10px;
  }
video source{
  content: url("res/Pc.mp4") 
}
textarea{
  width:65%;
}

} 


 @media only screen and (min-width: 1024px){
  .box{
    width: 44%;
    height: auto;
}
#char-counter {
  font-size: 12px;
  top: 60px;
  left:73%;
}
video source{
  content: url("res/Pc.mp4") 
}
textarea{
  width:65%;
}
button{
  width:50%;
}
}  

@media only screen and (min-width:1441px) {
  .box{
    width:30%;
  }
  textarea{
    width:45%;
  }
  #char-counter{
    top:50px;
    left:50%;
  }
}
